* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #471c05da;
    font-family: 'Roboto', sans-serif;
}
a:visited {
    text-decoration: none;
    color: rgb(143, 73, 8);
}
a:hover {
    color: rgb(245, 122, 8);
}
a:active {
    text-decoration: none;
    color: rgb(245, 236, 228);
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
    color: #645a54;
    margin: 10px;
    font-style: italic;
}
                /* MEDIA QUERIES */
    @media screen and (max-width: 600px) {
        #menuPrincipal {
            flex-direction: column;
            text-align: left;
        }
        nav ul {
            flex-direction: column;
            text-align: left;
            margin: auto;
        }
        .caja-logo {
            text-align: center;
        }
        .cajaImagenInicio {
            text-align: center;
            width: 100%;
        }
        #heroe {
            margin: 15px;
            padding: 10px;
            flex-direction: column;
            align-items: center;
        }
        .tapaElPlato {
            width: 100%;
        }
        .info-lanzamiento {
            text-align: center;
        }
        h2 {
            font-size: larger;
        }
}
                /* CABECERA */
header {
    position: sticky;
    top: 0;
}
.cabecera {
    margin: auto;
    width: 820px;
    padding: 20px;
    display: flex;
    align-items: center;
}
#menuPrincipal {
    display: flex;
    align-items: center;
    background-color: #2e1102da;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
}
.logo {
    width: 15%;
    padding-left: 10px;
}
.botonMenu {
    font-weight: bolder;
}
.botonMenu-fin {
    margin-right: 10px;
    font-weight: bolder;
}
.botonMenu:hover, .botonMenu-fin:hover {
    background-color: #773b16;
}
.linkMenu {
    color: rgb(226, 180, 138);
    display: block;
    text-decoration: none; /*quita subrayado */
    padding: 20px;
}
.linkMenu:visited {
    text-decoration: none;
    color: rgb(226, 180, 138);
}
.linkMenu:hover {
    color: rgb(245, 122, 8);
}
.linkMenu:active {
    text-decoration: none;
    color: rgb(245, 236, 228);
}
.linkMenu {
    color:antiquewhite;
}
            
                /* HEROE */
#heroe {
    display: flex;
    text-align: center;
}
.CajaImagenInicio {
    margin: 10px;
    width: 50%;
    text-align: right;  
}
.info-lanzamiento {
    margin: 20px;
    padding: 20px;
    text-align: left;
    width: 40%;
}
.titulosSeccionInicio {
    margin-top: 4%;
    margin-left: 10%;
}
.tapaElPlato {
    border-radius: 10px;
    border: solid 1px;
    transition: transform 1s;
}    
.tapaElPlato:hover {
    transform: scale(1.02);
}
.icono-escuchar {
    margin: 10px;
    width: 50%;
    transition: transform .3s;
}
.icono-escuchar:hover {
    transform: translate(0,5px);
}
.link-plato {
    margin: auto;
    text-align: left;
}
.escucha-ahora {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.titulo-lanzamiento {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #bdb5b0;
    text-align: left;
}
.p-lanzamiento {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
                /* PIE DE PÁGINA */
.footer {
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: azure;
}
                /* DISCOGRAFIA */
#cajaSimples {
    width: 800px;
    margin: auto;
    border: #1b1715 1px solid;
}
.preDisco {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
    margin:auto;
    width: 780px;
    padding: 20px;
}
.tapaSimple {
    border-radius: 10px;
    width: 90%;
    transition: transform 1s;
}    
.tapaSimple:hover {
    transform: scale(1.2);
}   
.tituloSimple {
    background-color: #1b1715;
    padding: 10px;
    color: bisque;
}
.lanzamiento, .escucharEn {
    padding: 10px;
    background-color: #1b1715;
    color: rgb(245, 194, 131);
}
.escucharEn {
    text-align: right;
}
                /* CONCIERTOS */
.proxConc {
    font-style: oblique;
}
.antConc {
    text-align: center;
    color: rgb(245, 194, 131);
}
                /* CONTACTO */
form {
    margin: auto;
    max-width: 800px;
    background-color: rgb(94, 58, 4);
}
label {
    padding: 15px;
}
.contacto {
    margin: auto;
    max-width: 800px;
    padding: 10px;
    background-color: #1b1715;
    color: rgb(245, 194, 131);
}
            /* MEDIA: IMAGENES */
.grillaImg {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 185px;
    gap: 20px;
    padding: 20px;
}
.imagen {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter(2s);
}
.imagen:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    outline: solid 2px;
}