                /* DISCOGRAFIA */

#simples {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin: 20px;
    font-size: 80px;
    text-align: center; 
}

#cajaSimples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 90%;
    margin: 20px;
    border: #1b1715 1px solid;
}
.preDisco {
    display: block;
    padding: 20px;
}
.tapaSimple {
    text-align: right;
    margin: 20px;
    border: #1b1715 solid 1px;
    border-radius: 10px;
    width: 70%;
    transition: transform 1s;
}    
.tapaSimple:hover {
    transform: scale(1.06);
}
.detalleSimple {
    margin: 30px;
}
.tituloSimple {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: rgb(37, 26, 13);
}
.lanzamiento {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
    color: rgb(43, 23, 5);
}
.escucharEn {
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
    color: rgb(43, 23, 5);
}