/* FORMULARIO DE CONTACTO */
form {
    text-align: center;
    background-color: rgb(95, 54, 7);
}
.contacto {
    font-size: 100px;
    margin: auto;
    max-width: 800px;
    padding: 10px;
    background-color: #1b1715;
    color: rgb(245, 194, 131);
}